.mainbody {
    text-align: center;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.list {
    text-align: center;
    list-style-position: inside;
}

.container {
    width: 30%;
}

#picture {
    max-width:100%;
    max-height:100%;
}