td {
    border-right: 1.5px solid black;
    border-left: 1.5px solid black;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

th {
    text-align: center;
}

#container {
    padding-top: 50px;
}